.purple-border textarea {
    border: 1px solid #ba68c8;
}

.purple-border .form-control:focus {
    border: 1px solid #ba68c8;
    box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
}

.text_view {
    margin: 20px;
    /*height: 25vh;*/
}

#submit {
    float: right;
}

.main_div {
    height: 100vh;
    overflow: auto;
}

.farm_view {
    height: 70vh;
    width: 960px;
    margin: 20px auto 10px;
}

.tile {
    /*width: 120px;*/
    height: 120px;
    border-style: solid;
    border-width: 1px;
}