{% extends 'base.html' %}
{% block content %}
<div class="main_div">
    <div class="farm_view">
        <div class="row">
            {% for row in tiles %}
            {% for tile in row %}
            <div class="col tile"></div>
            {% endfor %}
            <div class="w-100"></div>
            {% endfor %}
        </div>
    </div>
    <div class="text_view purple-border">
        <label for="text_area"></label>
        <textarea class="form-control" id="text_area" rows="5"></textarea>
        <button type="button" class="btn btn-primary" id="submit">Submit</button>
    </div>
</div>
{% endblock %}